body {
    font-family: Verdana;
}


.content-table {
    margin: 25px auto;
    border-collapse: collapse;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 10px 10px 20px rgb(158, 158, 158);

}

.content-table thead tr {
    background-color: rgba(28,14,55,0.83);
    color: azure;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}


.content-table tbody tr {
    border-bottom: 1px solid black;
}

.content-table tbody tr:nth-of-type(even) {
    background-color:#f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 4px solid rgba(28,14,55,0.83);
}

.content-table tbody tr:hover {
    background-color:lavender;
    cursor: pointer;
}

.topnav {
    display: flex;
    background-color: rgba(28,14,55,0.83);

    border-radius: 5px;
}

.topnav a {
    border-radius: 5px 5px 0 0;
    padding: 15px 20px 10px 20px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.topnav a:hover {
    background-color: violet;
}

td {
    max-width: 400px;
    word-wrap: break-word;
}

h3 {
    text-align: center;
}

a {
    text-decoration: none;
}