body {
    background-color: #8820ff;
}

.header {
    background-color: red;
    text-align: center;
}

.headerTitle {
    color: rgba(232,226,236,0.83);
}
input {
    width: 100%;
    padding: 12px 20px;
}

.speech {
    background-color: rgba(28,14,55,0.83);
    color: rgba(232,226,236,0.83);
    font-size: 18px;
    text-align: left;
    border-style: solid;
}

.textFormat {
    background-color: rgba(28,14,55,0.83);
    border-radius: 10px;
    border-style: solid;
    color: rgba(232,226,236,0.83);
    font-size: 13px;
    margin: auto;
    padding: 30px;
    text-align: center;
    width: 1000px;
}



